version: "3.9"

services:
  nginx:
    image: nginx:alpine
    links:
      - "nginx"
    ports:
      - "80:80"
  php-web:
    build: .
    depends_on:
      - nginx
  healthcheck:
    test: ["CMD-SHELL", "curl -sS http://nginx | grep -q 'works'"]
    interval: 5s
    timeout: 5s
    retries: 3
